/*
           name: project 000
    description: description
         author: mario knecht
           date: yyyymmdd
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

*{
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
}

.challenge{
    /*width:600px;*/
    display:grid;
    /*justify-content:center;*/
    grid-template-columns:auto 500px auto;
    grid-template-rows: 50px /*auto*/ 500px 50px;
    grid-template-areas:
    "... header ..."
    "... main ..."
    "... footer ...";
}

.head{
    grid-area:header;
    text-align:center;
    color:lightgrey;
}

.head__title {
    padding-top: 11px;
    margin: 0;
}

.main{
  position:relative;
  grid-area:main;
  display:flex;
  flex-wrap:wrap;
  color:#ffffff;
  justify-content:center;
  background-color: #000000;
}

.pyramid{
    position:relative;
    height:100%;
    width:100%;
    clip-path:circle(190px at center);
    z-index:50;
}


.pyramid__night{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:51;
    animation:darken 16s infinite linear;
    background-color:#000000;
}

@keyframes darken{
    0%{
        background-color:#000000;
    }

    10%{
        background-color:transparent;
    }

    45%{
        background-color:transparent;
    }

    60%{
        background-color:#000000;
    }

    100%{
        background-color:#000000;
    }
}


.pyramid__east{
    position: absolute;
    top: 40%;
    left: 29%;
    width: 200px;
    height: 150px;
    background-color: #ffffff;
    -webkit-clip-path: polygon(50% 0%, 0 100%, 68% 100%);
    clip-path: polygon(50% 0%, 0 100%, 68% 100%);
    z-index: 5;
    animation: coloreast 16s infinite linear;
}

@keyframes coloreast{
    0%{
        background-color: lightgray;
    }

    20%{
            background-color: #ffffff;
     }

    50%{
        background-color: lightgray;
    }

    60%{
            background-color: lightgray;
    }

    100%{
            background-color: lightgray;
        }
}

.pyramid__west{
    position: absolute;
    top: 40%;
    left: 29%;
    width: 200px;
    height: 150px;
    background-color: lightgray;
    -webkit-clip-path: polygon(50% 0%, 62% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 62% 100%, 100% 100%);
    z-index: 4;
    animation: colorwest  16s infinite linear;
}

@keyframes colorwest{
    0%{
        background-color: lightgray;
    }

    25%{
        background-color: lightgray;
    }

    40%{
       background-color: #ffffff;
    }


    50%{
            background-color: lightgray;
    }

    100%{
            background-color: lightgray;
    }
}

/*https://bennettfeely.com/clippy/*/
.pyramid__shadow{
    position: absolute;
    top: 70%;
    left: 26%;
    width: 280px;
    height: 150px;
    background-color: rgba(0,0,0,0.3);
    -webkit-clip-path: polygon(76% 0, 5% 0, 100% 100%);
    clip-path: polygon(76% 0, 5% 0, 100% 100%);
    z-index: 6;
    animation:follow 16s infinite linear;
}

@keyframes follow{
    0%{
       -webkit-clip-path: polygon(76% 0, 5% 0, 100% 100%);
       clip-path: polygon(76% 0, 5% 0, 100% 100%);
    }

    25%{
       -webkit-clip-path: polygon(76% 0, 5% 0, 100% 100%);
       clip-path: polygon(76% 0, 5% 0, 50% 100%);
    }

    50%{
        -webkit-clip-path: polygon(76% 0, 5% 0, 100% 100%);
                   clip-path: polygon(76% 0, 5% 0, 5% 100%);
    }

    100%{
           -webkit-clip-path: polygon(76% 0, 5% 0, 100% 100%);
           clip-path: polygon(76% 0, 5% 0, 5% 100%);
        }

}


.pyramid__sky{
    position:absolute;
    top:0;
    left:0;
    background-color:#00ccff;
    height:70%;
    width:100%;
    z-index:3;
}

.pyramid__desert{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:31%;
    background-color:#ffcc00;
    z-index:2;
}


.pyramid__sun{
    position:absolute;
    bottom:90px;
    left:205px;
    animation: xAxis 16s infinite linear;
    width:100px;
    height:100px;
    border-radius:50%;
    background-color:yellow;
    z-index:9;
}

/*source
  http://www.useragentman.com/blog/2013/03/03/animating-circular-paths-using-css3-transitions/
*/
/*horizontal*/


@keyframes xAxis{
        from { -webkit-transform: rotate(180deg) translateX(230px) rotate(180deg); }
        to   { -webkit-transform: rotate(540deg) translateX(230px) rotate(-540deg); }

        0% {
                        opacity:0;
            }

        14% {
                opacity:0;
            }

            15%{
                opacity:1;
            }

            49%{
                opacity:1;
            }

            50%{
                opacity:0;
            }

            100%{
                opacity:0;
            }

}


.footer{
    grid-area:footer;
    padding:5px;
    color:lightgrey;
    text-align:center;
}