/*
           name: project 000
    description: description
         author: mario knecht
           date: yyyymmdd
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);/*as replacement for helvetica neue*/

*{
    box-sizing:border-box;

}

body{
    font-family: 'Open Sans', sans-serif;
}

.challenge{
    /*width:600px;*/
    display:grid;
    /*justify-content:center;*/
    grid-template-columns:auto 500px auto;
    grid-template-rows: 50px /*auto*/ 500px 50px;
    grid-template-areas:
    "... header ..."
    "... main ..."
    "... footer ...";
}

.head{
    grid-area:header;
    text-align:center;
    color:lightgrey;
}

.head__title {
    padding-top: 11px;
    margin: 0;
}

body .main{
  font-family:'Source Sans Pro';/*as a replacement for helvetica neue*/
  display:grid; /*only for 006 project*/
  grid-area:main;
  display:flex;
  flex-wrap:wrap;
  align-item:center;
  color:#ffffff;
  /*padding: 111px 0;*/
  justify-content:center;
  background-color: gainsboro;

}


.footer{
    grid-area:footer;
    padding:5px;
    color:lightgrey;
    text-align:center;
}



/*---------------------------------content------------------------------------*/

/*
colors
red:        #a50045
antrazith:  #1a2a39
white:      #ffffff

shapes: https://css-tricks.com/examples/ShapesOfCSS/

*/

.main_relief{
    height:250px;
    width:100%;
    position:relative;
    border-bottom:1px dotted red;
}

.main__first{
    position:absolute;
    bottom: 0;
    left: -36px;
    width:30%;
    height:50%;
}

.first__house{
    position:relative;
    width:100%;
    height:100%;

}

.first__top{

    width:0;
    height:0;
    border-left:60px solid transparent;
    border-right:60px solid transparent;
    border-bottom:57px solid #1a2a39;
    position:absolute;
    bottom:0;
    left:15px;
}

.first__center{
     border-style: solid;
     border-color: transparent transparent #1a2a39 transparent;
     border-width: 0 10px 25px 10px;
     height: 0;
     width: 150px;
     position:absolute;
     bottom:5px;
}

.first__bottom{
     width:130px;
     height:10px;
     background-color:#1a2a39;
     position:absolute;
     bottom:0;
     left:10px;
}


.main__second{
    position:absolute;
    height:10px;
    width: 54px;
    bottom: 0;
    left: 118px;
    background-color:#1a2a39;
}

.main__third{
    position:absolute;
    bottom:0px;
    left:162px;
    width: 150px;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #1a2a39 transparent;
    border-width: 0 10px 25px 10px;

}

.main__towerleft{
   position:absolute;
   width:30%;
   height:50%;
   bottom:0;
   left:150px;
   border:1px dotted red;
}

.towerleft__container{
    position:relative;
    width:100%;
    height:100%;
}

.towerleft__circlesmall{
    width:5px;
    height:5px;
    border-radius:50%;
    background-color:#1a2a39;
}

.towerleft__trapezoidsmall{
    border-bottom: 19px solid #1a2a39;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    height: 0;
    width: 8px;
}

.towerleft__circlebig{
       display:block;
       width: 17px;
       height: 23px;
       background-color: #1a2a39;
       /*-webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;*/
       border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
}


.towerleft__tower{
    width:10px;
    height:50px;
    background-color:#1a2a39;
}



/*--------------LOGO---------------*/
.logo{
    position:absolute;
    right:5px;
    top:5px;
}

.logo__ploygon{
        width: 150px;
        height: 150px;
        clip-path: polygon(16% 12%, 100% 0, 88% 85%, 29% 81%);
        background-color: #a50045;
        position: relative;
}

.logo__txt{
    position:absolute;
    top: 19%;
    left: 33%;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
}

.logo__mini{
    letter-spacing:0.11rem;
}

