/*
           name: project 005
    description: description
         author: mario knecht
           date: yyyymmdd
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

*{
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
}

.challenge{
    display:grid;
    grid-template-columns:auto 500px auto;
    grid-template-rows: 50px /*auto*/ 500px 50px;
    grid-template-areas:
    "... header ..."
    "... main ..."
    "... footer ...";
}

.head{
    grid-area:header;
    text-align:center;
    color:lightgrey;
}

.head__title {
    padding-top: 11px;
    margin: 0;
}

.main{
    grid-area:main;
    display:flex;
    flex-wrap:wrap;
    color:#ffffff;
    background-color: gainsboro;

}

.main__head,
.main__nav,
.main__aside,
.main__content,
.main__foot{
    padding:5px;
    text-align:center;
}


.main__head{
    flex-basis:100%;
    background-color:skyblue;
    height:100px;
}

.main__nav,
.main__aside{
   flex:1 0 0;/*width = 25% each, flex-basis:1, flex-grow:0, flex-shrink:0*/
}


.main__nav{
    height:100%;
    background-color:lightgreen;
}

.main__content{
    flex:2 0 0; /*width = 50%, flex-basis:2, flex-grow:0, flex-shrink:0*/
    height:100%;
    background-color:orange;
}

.main__aside{
    height:100%;
    background-color:lightgreen;
}

.main__foot{
    flex-basis:100%;
    height:100px;
    background-color:tomato;
}


.footer{
    grid-area:footer;
    padding:5px;
    color:lightgrey;
    text-align:center;
}