/*
           name: project 000
    description: description
         author: mario knecht
           date: yyyymmdd
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

*{
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
}

.challenge{
    display:grid;
    grid-template-columns:auto 500px auto;
    grid-template-rows: 50px 500px 50px;
    grid-template-areas:
    "... header ..."
    "... main ..."
    "... footer ...";
}

.head{
    grid-area:header;
    text-align:center;
    color:lightgrey;
}

.head__title {
    padding-top: 11px;
    margin: 0;
}

.circle{
  position:relative;
  grid-area:main;
  padding: 111px 0;
  background-color: hotpink;
}

.circle__large{
    margin:auto;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:1;
    width:0;
    height:0;
    border-radius:50%;
    background-color:#ffffff;
    -webkit-box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75);
    -o-box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75);
    -webkit-animation: circLarge 3s infinite ease-out alternate;
    -moz-animation:    circLarge 3s infinite ease-out alternate;
    -o-animation:      circLarge 3s infinite ease-out alternate;
    animation:         circLarge 3s infinite ease-out alternate;
}

@keyframes circLarge{
    from{
        width:0;
        height:0;
    }
    to{
        width:150px;
        height:150px;
    }
}



.circle__medium{
    margin:auto;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:2;
    width:100px;
    height:100px;
    border-radius:50%;
    background-color:#ffffff;
    -webkit-box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75);
    -o-box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75);
    -webkit-animation: circMedium 3s 2s infinite ease-out alternate;
    -moz-animation:    circMedium 3s 2s infinite ease-out alternate;
    -o-animation:      circMedium 3s 2s infinite ease-out alternate;
    animation:         circMedium 3s 2s infinite ease-out alternate;
}

@keyframes circMedium{
    from{
        width:0;
        height:0;
    }
    to{
        width:100px;
        height:100px;
    }
}


.circle__small{
    margin:auto;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:3;
    width:50px;
    height:50px;
    border-radius:50%;
    background-color:#ffffff;
    -webkit-box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75);
    -o-box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75);
    -webkit-animation: circSmall 3s 2s infinite ease-out alternate;
    -moz-animation:    circSmall 3s 2s infinite ease-out alternate;
    -o-animation:      circSmall 3s 2s infinite ease-out alternate;
    animation:         circSmall 3s 2s infinite ease-out alternate;
}


@keyframes circSmall{
    from{
        width:0;
        height:0;
    }
    to{
        width:50px;
        height:50px;
    }
}


.footer{
    grid-area:footer;
    padding:5px;
    color:lightgrey;
    text-align:center;
}